<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.group13.pocketpolitics"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="org.group13.pocketpolitics.control.LoginActivity"
            android:icon="@drawable/ic_pocketpolitics"
            android:label="@string/app_name"
            android:theme="@style/PocketPolitics" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="org.group13.pocketpolitics.control.FrontPageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/> <!--   android:theme="@style/PocketPolitics-->
        <!-- android:theme="@style/PocketPolitics" android:icon="@drawable/ic_pocketpolitics" -->
        
        <activity
            android:name="org.group13.pocketpolitics.control.ArticleActivity"
            android:label="@string/label_activity_article" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.group13.pocketpolitics.control.FrontPageActivity"/>
        </activity>
        
        <activity
            android:name="org.group13.pocketpolitics.control.MotionActivity"
            android:label="@string/label_activity_motion" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.group13.pocketpolitics.control.ArticleActivity"/>
        </activity>
        
        <activity
            android:name="org.group13.pocketpolitics.control.RegistrationActivity"
            android:label="@string/label_activity_registration"
            android:parentActivityName="org.group13.pocketpolitics.control.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.group13.pocketpolitics.control.LoginActivity" />
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for PocketPolitics"
        android:targetPackage="org.group13.pocketpolitics" />

</manifest>